name: NotenVonSchuelernFuerLehrer

services:
  mysql:
    image: mysql:9.4
    container_name: MySql
    environment:
      MYSQL_ROOT_PASSWORD: Test
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - "3306:3306"
      - "33060:33060"

  webapi:
    build:
      context: WebApi/
      dockerfile: NotenVonSchuelernFuerLehrer.WebApi/Dockerfile
    container_name: WebApi
    depends_on:
      - mysql
    environment:
      ConnectionStrings__NotenVonSchuelernFuerLehrerConnectionString: "Server=MySql;Port=3306;Database=NotenVonSchuelernFuerLehrer;User=root;Password=Test;"
      ASPNETCORE_ENVIRONMENT: "Development"
      Note__MinWert: "1"
      Note__MaxWert: "6"
      Jwt__Key: "TeIvOVCK01UzOVQw6cBLR3IL1R9D5sBC8O04PbCi5ZE3h8cGoU"
      ShouldMigrateDatabase: "true"
      ShouldSeedDatabase: "true"
    ports:
      - "8080:8080"
      - "8081:8081"
    
  yarp:
    image: mcr.microsoft.com/dotnet/nightly/yarp:2.3-preview
    container_name: Yarp
    depends_on:
      - webapi
    volumes:
      - ${PWD}/Proxy/yarp.json:/etc/yarp.config
    ports:
      - "5000:5000"

volumes:
  mysql:
    name: MySql