name: NotenVonSchuelernFuerLehrer

services:
  mysql:
    image: mysql:9.4
    container_name: MySql
    environment:
      MYSQL_ROOT_PASSWORD: Test
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - "3306:3306"
      - "33060:33060"

  webapi:
    build:
      context: WebApi/
      dockerfile: NotenVonSchuelernFuerLehrer.WebApi/Dockerfile
    container_name: WebApi
    depends_on:
      - mysql
    environment:
      ConnectionStrings__NotenVonSchuelernFuerLehrerConnectionString: "Server=MySql;Port=3306;Database=NotenVonSchuelernFuerLehrer;User=root;Password=Test;"
    ports:
      - "8080:8080"
      - "8081:8081"

volumes:
  mysql: